/* // ----------------- CONFIGS GERAIS ----------------- //  */

main {
    display: flex;
    flex-flow: row wrap;
}

.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.asideNav {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    margin: 50px 0px;
    border-right: .5px solid #afafaf;
    width: 30%;
}

.asideUl {
    width: auto;
    margin: 0px 20%;
    padding: 0px;
}

.asideTitle {
    margin-top: 15px;
    font-size: 32px;
    font-weight: 600;
    padding: 5px 10px;
}

.show {
    display: inline-block !important;
}

/* // ----------------- FILTRO MARCA ----------------- //  */

.marcaFilter {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 15px;
    font-size: 28px;
}

.marcaTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
}

.marcaFilter .marcaSubtitle {
    padding: 0px 10px 5px 10px;
    font-size: 18px;
}

.optionsMarca {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    top: 40px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0px 5px;
}

.optionsMarca .marcaOpt {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 3px;
    margin: 3px;
    font-size: 18px;
}

.optionsMarca .marcaOpt.active{
    background-color: #f2f2f2;
}

.optionsMarca .marcaOpt.active > i{
    display: block;
}

.optionsMarca li:hover {
    background-color: #f2f2f2;
}

.marcaOpt > i{
    display: none;
    position: absolute;
    left: 90%;
    top: 50%;
    font-size: 15px;
    cursor: pointer;
}

.fa-x:before {
   padding: 5px;
}

/* // ----------------- FILTRO PRECO ----------------- //  */

.priceFilter {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 15px;
    font-size: 28px;
}

.priceTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
}

.priceTitle i {
    transition: transform 0.3s linear;
}

.priceFilter.active .priceTitle i {
    transform: rotate(-180deg);
}

.priceFilter.active .contentPrice .options {
    display: flex;
}

#selectPrice {
    font-size: 18px;
    padding: 0px 10px;
}

.options {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1;
    border-radius: 5px;
    margin: 30px 0px 35px;
    padding: 15px 5px;
    border: .5px solid #f2f2f2;
    font-size: 16px;
}

.options .field {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.options .field .dentro {
    position: absolute;
    left: 40px;
    font-size: 12px;
}

.options .field span {
    padding: 0px 5px;
}

.options .field input {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 20px;
    outline: none;
    border: 1px solid #999;
}

.options .field .inputMax {
    margin-left: 1px;
}

.slider {
    margin: 10px 0px;
    height: 8px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
}

.slider .progess {
    height: 8px;
    left: 25%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background-color: #009be2;
}

.rangeInput {
    position: relative;
}

.rangeInput input {
    position: absolute;
    top: -18px;
    height: 8px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50px;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: #009be2
}

input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50px;
    pointer-events: auto;
    -moz-appearance: none;
    background-color: #009be2
}


/* // ----------------- FILTRO ANO ----------------- //  */

.anoFilter {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 15px;
    font-size: 28px;
}

.anoTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
}

.anoTitle i {
    transition: transform 0.3s linear;
}

.anoFilter.active .anoTitle i {
    transform: rotate(-180deg);
}

.anoFilter.active .contentAno .optionsAno {
    display: block;
}

#selectAno {
    font-size: 18px;
    padding: 0px 10px;
}

.optionsAno {
    display: none;
    background-color: white;
    position: absolute;
    top: 40px;
    width: 100%;
    height: 250px;
    overflow: auto;
    z-index: 1;
    border-radius: 5px;
    padding: 0px 3px;
    border: .5px solid #f2f2f2;
}

.optionsAno li {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.optionsAno li:hover {
    background-color: #f2f2f2;
}

.optionsAno::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(194, 193, 193);
}

.optionsAno::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    background-color: rgb(235, 235, 235);
    background-clip: content-box;
}
/* // ----------------- ESTOQUE ----------------- //  */

.carrosEstoque {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 60px 10px 60px 10px!important;
    row-gap: 2rem!important;
    overflow: auto;
}

.carrosEstoque::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(194, 193, 193);
}

.carrosEstoque::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    background-color: rgb(235, 235, 235);
    background-clip: content-box;
}

.fadeEffect{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 30%;
    width: 68%;
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,.8) 0%, rgba(255,255,255,.6) 30%, rgba(255,255,255,0) 100%);

}

.cardSobreCarro{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px!important;
}

.cardSobreCarro:hover .cardCarro{
    box-shadow: 5px 10px 30px #6e6e6e9f,
        -10px -5px 30px #cccccc98;
}
.cardSobreCarro:hover .btnBigPage{
    display: flex;
}
 
.cardCarro {
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    width: 80%;
    height: 220px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 10px 10px #d9d9d9,
        -10px -10px 10px #ffffff;
    transition: all .2 ease-in;
}

.cardCarro img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.cardContent {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
    padding: 10px;
    padding-left: 25px;
    font-size: 18px;
}

.cardContent span {
    font-family: 'Roboto', sans-serif;
}

.cardContent .cardContentTitle {
    font-size: 28px;
}

.cardContent .cardContentPrice {
    font-size: 26px;
    font-weight: 600;
}

.cardContent .cardContentSpecs {
    display: flex;
    flex-flow: column;
}

.cardContentSpecs .Specs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.cardContentSpecs .Specs:not(:last-child) {
    margin-right: 35px;
}

.cardContentSpecs .Specs * {
    font-size: 21px;
}


/* // ----------------- BOTAO CADASTRAR ----------------- //  */
.fancy {
    z-index: 3;
    box-sizing: border-box;
    position: relative;
    display: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    width: 500px;
    margin: 40px auto;
    padding: 1em 2em;
    color: #fff;
    border: 2px solid #000;
    border-radius: 0;
    background-color: transparent;
    float: right;
    outline: none;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}


/* // ----------------- MODAL CADASTRO CARRO ----------------- //  */
.modalContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(194, 193, 193);
}

.modalContent::-webkit-scrollbar {
    border-radius: 10px;
    width: 13px;
    background-color: rgb(235, 235, 235);
    background-clip: content-box;
}

.modalCriar {
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    width: 600px;
    height: auto;
    margin: auto;
    border: 1px solid #acacac;
}

.modalTitle {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
}

.modalTitle span {
    font-size: 20px;
}

.modalTitle i {
    padding: 5px;
    cursor: pointer;
}

.modalContent {
    padding: 20px;
    height: 600px;
    overflow-y: auto;
}

.modalContent div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.imgCarros {
    width: 100px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
}

.imgCar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

.imgInputClass {
    display: none;
}

.imgInputLabel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

.imgInputLabel>img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

.modalContent .btnCadastroModal {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 13px;
    padding-bottom: 1.5rem;
    font-size: 17px;
    border-radius: 10px;
}

/* // MODAL CADASTRO CARRO ----------------- //  */
.btnBigPage {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(80% - 2.33333%);
    height: 220px;
    margin: 0px calc(10% + 1.333333%);
    border-radius: 10px;
    /* background: #0000003f; */
    background: transparent;
    padding: 1.8rem;
    border: 6px solid transparent;
    transition: 0.5s ease-out;
    overflow: visible;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 400;
}

/* // HOVER CARD ESTOQUE ----------------- //  */
.btnBigPage:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

/* // LOADER ANIMATION----------------- //  */
.loader {
    --dim: 3rem;
    width: var(--dim)!important;
    height: var(--dim)!important;
    position: relative;
    margin-top: 200px!important;
    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --color: #000000;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }
/* // ----------------- MEDIA QUERY ----------------- //  */

/* @media (width > 780px) {
    MUDAR PARA OUTRO SISTEMA
} */

/* @media (width >=1000px) {
    .cardCarro {
        width: 75%;
    }

    .btnBigPage_lg {
        font-size: 14px;
    }
}

@media (width >=1300px) {
    .cardCarro {
        width: 60%;
    }
    .btnBigPage_lg {
        font-size: 16px;
    }

}

@media (width >=1600px) {
    .btnBigPage_lg {
        font-size: 18px;
    }
}

@media (width >=1800px) {
    .btnBigPage_lg {
        font-size: 20px;
    }
} */