@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

* a{
    text-decoration: none;
}

.imageSlider.natela {
    filter: grayscale(0%);
    box-shadow: -9px 0px 18px #00000093,
        9px 0px 18px #00000093;
}

.noSelect {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* // ------------------------------------------------ //  */

body {
    position: relative;
    background-color: #f2f2f2;
}

.footer {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 100%;
    background-color: black;
}

.footer>p {
    margin: 20px 0px 0px 20px;
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 5px 0px;
    border-bottom: .5px solid #414141d0;
}  

.logo {
    cursor: pointer;
    width: auto;
    height: 60px;
}

.logoimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navTitle{
    font-size: 19px!important;
}