@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

* a{
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0px;
}

.imageSlider.natela {
    filter: grayscale(0%);
    box-shadow: -9px 0px 18px #00000093,
        9px 0px 18px #00000093;
}

.noSelect {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.form-control:focus {
    color: var(--bs-body-color)!important;
    background-color: var(--bs-body-bg)!important;
    border-color: #000!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.10rem rgba(0, 0, 0, 0.25)!important;
}

/* // ------------------------------------------------ //  */
html{
    width: 100%;
}
body {
    position: relative;
    background-color: #ffffff;
    height: 100%;
}

main {
    margin-top: 75px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 100%;
    background-color: black;
}

.navHeader {
    padding: 5px 0px;
    background-color: white;
    border-bottom: .5px solid #414141d0;
    z-index: 4;
}  

.logo {
    cursor: pointer;
    width: auto;
    height: 60px;
}

.logoimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navTitle{
    font-size: 19px!important;
}

.footer>p {
    margin: 20px 0px 0px 20px;
    color: rgb(255, 255, 255);
}

.resultSearch{
    display: none;
    position: absolute;
    background-color: #ffffff;
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 10px 5px;
    border-radius: 5px;
}

.resultSearch.active{
    display: block;
}

.resultSearch li {
    padding: 3px 5px;
}

.resultSearch li:hover {
    background: #f2f2f2;
    cursor: pointer;
}
