.noShow{
    display: none;
}

main{
    display: flex;
    flex-flow: row wrap;
}

.asideNav{
    display: flex;
    flex-flow: column wrap;
    border-right: .5px solid #000000;
    width: 200px;
    height: 100vh;
}

.asideTitle, 
.asideNav ul li{
    padding: 5px 10px;
}

.asideNav ul li:hover {
    color: rgb(82, 82, 82);
}

.asideUl{
    padding: 15px 0px;
    border-bottom: .5px solid #c0c0c0;
    margin: 0px 15px;
}

.asideUl a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.asideTitle{
    font-size: 22px;
    font-weight: 600;
}

.content{
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    margin: 40px 0px 0px 60px;
}

.showConta{
    font-size: 20px;
    width: 70vw;
    padding-bottom: 20px;
    border-bottom: .5px solid #333333;
}

.configConta{
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.userInfos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

.fotoUser{
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-top: 20px;
    width: 500px;
    height: 200px;
    border-right: .5px solid #333333;
}

.fotoUser img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.fotoUser div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px 5px 15px;
}

.fotoUser .fotoTitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.fotoUser .fotoSubtitle{
    font-size: 20px;
    cursor: pointer;
}

.fotoUser .fotoSubtitle:hover{
    color: rgb(82, 82, 82);
}

.textUser {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 0px 100px;
    width: 400px;
}

.textUser > p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.textUser  div{
    width: 100%;
}

.configConta .nameUser{
    display: flex;
    gap: 15px;
    width: 50%;
}

.configConta .nameUser p{
    margin-bottom: 5px;
}

.configConta .nameUser input {
    width: 250px;
}

.configConta .emailUser{
    display: flex;
    gap: 15px;
    width: 50%;
    margin-top: 5px;

}

.configConta .emailUser p{
    margin-bottom: 5px;  
}

.configConta .emailUser input{
    width: 250px;
}

.emailUser input,
.nameUser input{
    border-radius: 2px;
}

