
.searchForm{
    padding: 10px;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:  5px 5px 10px #838383!important;
}

.lupaSearch{
    padding: 6px 12px 6px 6px;
    background-color: transparent;
}
.inputSearch{
    background-color: transparent;
    text-decoration: none;
    border: none;
    outline: none;
    width: 92.5%;
}

.resultSearch.inHome{
    margin-top: 57px;
    border-radius: 10px;
    box-shadow:  2px 2px 8px #bebebe!important;
}

.homeContente {
    display: block;
    height: 100vmin;
}

.homeTitle {
    color: black;
    font-size: 80px;
    font-weight: 700;
    margin: 100px 100px 20px 100px;
}
.subtitle{
    color: black;
    font-size: 30px;
    font-weight: 300px;
    margin: 20px 100px;
}
/* -------------- HOME MARCAS --------------*/

.imgDestaquesContent {
    width: 70%;
    margin: 50px auto !important;
    justify-content: center;
}

.imgDestaqueDIv {
    padding: 0 !important;
    height: auto;
    justify-content: center;
    align-content: center;
}

.imgDestaque {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.lg.imgDestaque {
    width: 90% !important;
}

/* -------------- HOME DESTAQUES --------------*/
.homeDestaques{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.homeDestaques h1 {
    color: black;
    font-size: 80px;
    font-weight: 700;
    margin: 50px 100px 20px 100px;
    text-align: center;
}

.cardDestaques{
    width: 22rem;
    cursor: pointer;
}

.card-title{
    font-size: 28px!important;
    text-align: center;
}

.card-subtitle{
    text-align: center;
    font-size: 28px!important;
    font-weight: bolder!important;
}

.card-text{
    font-size: 24px;
}

.cardImgDestaque{
    position: absolute;
    z-index: 3;
    top: -13px;
    left: -23px;
    width: 7rem;
    height: 7rem;
}
