/* SLIDER  */

.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    padding: 10px 0px 0px 0px;
}

.slides {
    position: relative;
    width: 300%;
    height: 400px;
    display: flex;
    margin: 0px 26.666667%;
}

.slides>input {
    display: none;
}

.slideImg {
    width: 800px;
    transition: 2s ease-in-out;
}

.imageSlider {
    width: 800px;
    height: 400px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 2s ease;
}

.manualNavigation {
    position: absolute;
    width: 800px;
    margin-left: 32px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
}

.manualBtn {
    border: 1px solid #ffffff80;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.manualBtn:not(:last-child) {
    margin-right: 15px;
}

.manualBtn:hover {
    background: #ffffff;
}

.autoNavigation {
    position: absolute;
    width: 800px;
    margin-left: 32px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
}

.autoNavigation>div {
    border: 1px solid #ffffff80;
    padding: 4px;
    border-radius: 50%;
    transition: 1s;
}

.autoNavigation>div:not(:last-child) {
    margin-right: 15px;
}

#slide1:checked~.first {
    margin-left: -16%;
}

#slide2:checked~.first {
    margin-left: -32.666%;
}

#slide3:checked~.first {
    margin-left: -49.2222%;
}

#slide4:checked~.first {
    margin-left: -65.888%;
}

#slide5:checked~.first {
    margin-left: -82.555%;
}

#slide1:checked~.autoNavigation .autoBtn1 {
    background: #ffffff;
}

#slide2:checked~.autoNavigation .autoBtn2 {
    background: #ffffff;
}

#slide3:checked~.autoNavigation .autoBtn3 {
    background: #ffffff;
}

#slide4:checked~.autoNavigation .autoBtn4 {
    background: #ffffff;
}

#slide5:checked~.autoNavigation .autoBtn5 {
    background: #ffffff;
}


/* -------------- SLIDER FIM --------------*/
.regua {
    background-color: red;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.regua span {
    width: 10%;
    border-right: 2px solid black;
}

.homeContente {
    display: block;
    height: 100vmin;
}

.homeTitle {
    color: #000;
    font-size: 80px;
    font-weight: 700;
    margin: 50px 100px;
}
.subtitle{
    color: black;
    font-size: 40px;
    font-weight: 200px;
    margin-left: 20px;
    position: absolute;
}

/* -------------- HOME MARCAS --------------*/
.imgDestaquesContent {
    width: 70%;
    margin: 0px auto !important;
    justify-content: center;
}

.imgDestaqueDIv {
    padding: 0 !important;
    height: auto;
    justify-content: center;
    align-content: center;
}

.imgDestaque {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.lg.imgDestaque {
    width: 90% !important;
}