#carTitle {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-size: 60px;
    font-weight: 700px;
    font-family: 'Raleway', sans-serif;
}

.cta,
.cta2 {
    position: absolute;
    margin: 20px;
    padding: 12px 18px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 3;
}

.cta2 {
    top: 90%;
}

.cta:before,
.cta2:before {
    content: "";
    position: absolute;
    top: 6%;
    left: 2%;
    display: block;
    border-radius: 50px;
    background: #000000;
    width: 45px;
    height: 45px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cta span,
.cta2 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: transparent;
    margin-left: 10px;
}

.cta svg,
.cta2 svg {
    position: relative;
    top: 0;
    margin-bottom: 4px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: rotate(-180deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cta:hover:before,
.cta2:hover:before {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cta:hover svg,
.cta2:hover svg {
    stroke: black;
    transform: rotate(0deg);
}

.cta:hover span,
.cta2:hover span {
    color: #000000;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;

}

.cta:active,
.cta2:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

/* // -------------------- carousel -------------------- //  */
.carrouselWrapper {
    position: relative;
    overflow: hidden;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.carrousel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 500%;
    height: 650px;
    transition: 1.5s ease-out;
    margin-left: 0px;
}

.carrousel .content,
.carrousel .carrouselMini {
    display: flex;
    flex-direction: row;
}

.slide {
    width: 20%;
    height: 650px;
    filter: grayscale(100%);
    transition: 2s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s ease;
}

.slide.onfocus {
    filter: grayscale(0%);
}

.carrousel:has(> .slide.img1.active) {
    margin-left: 0%;
}

.carrousel:has(> .slide.img2.active) {
    margin-left: -100%;
}

.carrousel:has(> .slide.img3.active) {
    margin-left: -200%;
}

.carrousel:has(> .slide.img4.active) {
    margin-left: -300%;
}

.carrousel:has(> .slide.img5.active) {
    margin-left: -400%;
}


/* // -------------------- carouselmini -------------------- //  */
.carrouselMiniWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;
    padding: 30px 2.5%;
    background-color: black;
}

.carrouselMini {
    position: relative;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 200px;
}

.slideMini {
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.slideMini img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* // -------------------- carouselmini fim -------------------- //  */


.carInfos {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.sobreDiv {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 20px 15%;
}

.sobreUnicTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 10px;
}

.sobreUnic {
    font-size: 23px;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.informacoes {
    position: relative;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 20px 0px 20px 15%;

}

.informacoes>ul>li {
    font-size: 22px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300px;
    word-break: break-word;
}

.contato {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    top: 1.4%;
    left: 60%;
}

.contato * {
    margin: 8px;
}

.contatoInput {
    display: flex;
    flex-direction: column;
}

.contatoInput>input {
    padding: 3px;
}

.contatoInput>button {
    font-size: 20px;
    height: 40px;
}

.regua {
    background-color: red;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.regua span {
    width: 10%;
    border-right: 2px solid black;
}


/* // ----------------- MODAL CADASTRO CARRO ----------------- //  */
.modalCriar {
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    width: 350px;
    margin: auto;
    border: 1px solid #acacac;
}

.modalTitle {
    font-weight: 600;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
}

.modalTitle span {
    font-size: 22px;
}

.modalContent {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: auto;
}

.modalContent span {
    font-size: 18px;
}


/* button settings */
.ui-btn {
    --btn-default-bg: rgb(41, 41, 41);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 0.5s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #ffffff;
    --default-btn-color: #fff;
    --font-size: 13px;
    --font-weight: 600;
    --font-family: Menlo, Roboto Mono, monospace;
}

.ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
}

.ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
    background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
    0% {
        content: "#";
    }

    10% {
        content: "^{";
    }

    20% {
        content: "#$_";
    }

    30% {
        content: "#{+.";
    }

    40% {
        content: "?{4@";
    }

    50% {
        content: "?@%";
    }

    60% {
        content: "?{%:";
        right: 0;
    }

    70% {
        content: "{4%0";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}